<% if @moderator %>
  <h4> You are a moderator of this SubCheckit </h4>
<% end %>

<table class="table table-hover table-striped table-condensed">
  <h2> <%= @subcheckit.name %> </h2>
  <thead>
    <tr>
      <th>Title</th>
      <th>content</th>
      <th>User</th>
      <th>Upvote</th>
      <th>Downvote</th>
      <th>Score</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @posts = @posts.sort_by { |post| post.vote_total }%>
    <% @posts.reverse! %>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, subcheckit_post_path(@subcheckit.id, post.id) %></td>
        <td><%= post.content %></td>
        <td><%= post.user.first_name %></td>


        <td>
          <a href ="#" class="glyphicon glyphicon-arrow-up ajax-upvote <%= post.upvote_color(current_user) %>" data-subcheckit-id=<%= @subcheckit.id %> data-post-id=<%= post.id %>>
        </td>

        <td>
          <a href ="#" class="glyphicon glyphicon-arrow-down ajax-downvote <%= post.downvote_color(current_user) %>" data-subcheckit-id=<%= @subcheckit.id %> data-post-id=<%= post.id %>>
        </td>



        <!-- UPVOTE -->

        <td> <%= post.vote_total %>
        <!-- Downvote -->


        <td> <% if policy(post).edit? %>
              <%= link_to "Edit", edit_subcheckit_post_path(@subcheckit.id, post.id), class: "btn btn-primary" %>
            <% end %>
        </td>
        <td> <% if policy(post).destroy? %>
              <%= link_to "Delete", subcheckit_post_path(@subcheckit.id, post.id), method: :delete, class: "btn btn-danger" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "New Post", new_subcheckit_post_path(@subcheckit.id), class: "btn btn-primary" %>
</div>
